<%- include('.././public/setup.html') %>

<table id="setup">
<tr>
    <td><h1>What was the first day of your last period?</h1></td>
    <td><input type="date" value=""></td>
</tr>

<tr>
    <td><h1>How many days does your period last?</h1></td>
    <td><input type="text" value="7"></td>
</tr>

<tr>
    <td><h1>What is the length of your cycle in days?</h1>
    <h2>Note: Your cycle starts on the first day of your period.</h2></td>
    <td><input type="text" value="28"></td>
</tr>
<tr><td class="submit" colspan="2"><button type="submit" value="Submit">Submit</button></td></tr>
</table>
<%- include('.././public/footer.html') %>